/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

.nav-title {
  color: #181818;
  font-size: 45px;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 800;

}

.text-primary {
  color: orchid;
}

.btn-primary {
  border-radius: 5px;
  background: orchid;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

nav>ul {
  display: flex;
  align-items: center;
}

nav>li {
  list-style: none;
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: #474747;
}

/* header related style */
.header {
  background: rgb(228, 205, 215);
}

.banner {
  padding: 30px 30px 0px 150px;
  display: flex;
  align-items: center;
}

.banner .profile-pic {
  width: 500px;

}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}

.banner-title {
  font-size: 85px;
  font-style: normal;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}

.banner-description {
  margin-top: 0;
}

/* main section styles */
main {
  max-width: 1140px;
  margin: 0 auto;
}

/* about section starts here */
.about {
  padding: 130px;
  border-radius: 10px;
  background: #FFF8F3;
}

.about-info-container {
  display: flex;
  justify-content: space-around;
}

.about-info {
  text-align: center;
}

#what-i-do-description {
  padding: 30px 150px;
}